:root {
    --main_dark: #190061;
    --card-bk: #240090;
    --card-effect: linear-gradient(235deg, #3500d3, #01061540, #3500d3)
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Raleway", sans-serif;
}

body {
    background: radial-gradient(50% 50% at 50% 50%, var(--main_dark) 0%, #000000 100%);
    height: 100vh;
    position: relative;
}

#root {
    align-items: center;
    display: flex;
    flex-direction: column;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    justify-self: center;
    width: 100%;
}

.title {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.game {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
    place-items: center;
    width: 100%;
}

.game__card {
    align-items: center;
    background: var(--card-bk);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    position: relative;
    min-height: 250px;
    min-width: 170px;
    transition: 0.5s;
}

.game__image {
    border-radius: 10px;
    position: relative;
    top: 10px;
    width: 90%;
    height: 60px;
    max-height: 60px;
}

.card__title {
    color: #ffff;
    display: flex;
    align-items: center;
    position: absolute;
    top: 80px;
    text-align: center;
    font-size: 14px;
    height: 50px;
    overflow: hidden;
}

.deal {
    align-items: center;
    background: var(--main_dark);
    border-radius: 30px;
    display: flex;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: 145px;
    transition: 0.5s;
    width: 120px;
}

.deal:hover {
    border-radius: 5px;
    height: 60px;
    top: 134px;
}

.deal__info {
    color: #ffff;
    font-weight: bold;
    margin: 10px;
    transform: translateY(20px);
    transition: 0.5s;
}

.deal:hover .deal__info {
    transform: translateY(5px);
}

.deal__info--offer{
    font-size: 12px;
}

.deal:hover .deal__info--offer {
    transform: translateY(-5px);
}


.review {
    align-items: center;
    background: #ffff;
    bottom: 15px;
    display: flex;
    justify-content: center;
    height: 30px;
    position: absolute;
    transition: 0.25s;
    width: 100%;
}

.review:hover {
    background: var(--main_dark);
}

.review__button {
    color: #000000;
    text-decoration: none;
}

.review:hover .review__button {
    color: #ffff;
    font-weight: bold;
}


